<div class="text-center h2 mt-3">Аппроксимация функции методом наименьших квадратов</div>

<div class="container">
    <div class="col mt-3">
        <canvas id="canvas" width="500" height="500">{{chart}}</canvas>
    </div>

    <div class="col m-4">
        <div>Введите точки для аппроксимации функции, кол-во точек должно быть <strong>от {{MIN_POINTS_COUNT}}
            до {{MAX_POINTS_COUNT}}</strong></div>
        <div class="mt-3">Выберите формат ввода и вывода</div>
        <div *ngFor="let i of inputTypes" class="m-2">
            <input name="type" class="mr-2" type="radio" [value]="i" [(ngModel)]="selectedInputType">{{i}}
        </div>

        <div *ngIf="selectedInputType === inputTypes[1]" class="my-3">
            <form [formGroup]="pointsForm">

                <table id="pointsTable">
                    <tr formArrayName="xValues">
                        <td><strong>x</strong></td>
                        <td *ngFor="let x of pointsForm.controls['xValues']['controls']; let i=index">
                            <input type="number" style="width: 45px" formControlName="{{i}}">
                        </td>
                    </tr>

                    <tr formArrayName="yValues">
                        <td><strong>f(x)</strong></td>
                        <td *ngFor="let x of pointsForm.controls['yValues']['controls']; let i=index">
                            <input type="number" style="width: 45px" formControlName="{{i}}">
                        </td>
                    </tr>
                </table>

                <div class="my-3">
                    <button (click)="addPoint()" class="mr-3 btn btn-success" [disabled]="isMaximumPointsArrayLength()">
                        Добавить точку
                    </button>
                    <button (click)="removePoint()" class="btn btn-danger" [disabled]="isMinimumPointsArrayLength()">
                        Удалить точку
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="selectedInputType === inputTypes[0]" class="my-4">
            <div>Выберите файл со входными данными</div>
            <input type='file' (change)="onChangeFile($event)"/>
            <div *ngIf="errorInFile" class="text-danger">Ошибка в файле</div>
        </div>

        <div>
            <button class="btn btn-primary" [disabled]="isInvalidInput()" (click)="onSolveClick()">Провести исследование</button>
        </div>

        <table *ngIf="selectedInputType === inputTypes[1] && result !== undefined" class="text-center my-3"
               style="width: 1000px">
            <tr class="m-3 border">
                <th class="m-3 border">Цвет</th>
                <th class="m-3 border">Вид функции</th>
                <th class="m-3 border">a</th>
                <th class="m-3 border">b</th>
                <th class="m-3 border">c</th>
                <th class="m-3 border">Мера отклонения S</th>
                <th class="m-3 border">Среднеквадратичное отклонение &#948;</th>
            </tr>
            <tr *ngFor="let f of result.functions" class="m-3 border" [class.text-success]="f.standardDeviation === bestStandDev">
                <td class="m-3 border">{{f.color}}</td>
                <td class="m-3 border">&#632;(x) = {{f.view}}</td>
                <td class="m-3 border">{{handleNumber(f.a)}}</td>
                <td class="m-3 border">{{handleNumber(f.b)}}</td>
                <td class="m-3 border">{{handleNumber(f.c)}}</td>
                <td class="m-3 border">{{handleNumber(f.deviationMeasure)}}</td>
                <td class="m-3 border">{{handleNumber(f.standardDeviation)}}</td>
            </tr>
            <tr>
                <td>Коэффициент корреляции</td>
                <td>{{result.correlationCoeff}}</td>
            </tr>
        </table>

        <div class="my-3 h5" *ngIf="selectedInputType === inputTypes[0] && hrefToResult !== undefined">
            <a [href]="sanitize(hrefToResult)">Результат</a>
        </div>

    </div>
</div>